/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
}
body {
  background-color: #1e1e1e;
}
h2 {
  font-size: 2rem;
}
p {
  line-height: 1.8rem;
}
a {
  text-decoration: none;
  color: #040049;
}
a:hover {
  color: #0b00ce;
}
.container {
  max-width: 900px;
  width: 95%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  background: white;
  font-size: 1.5rem;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #666666;
}
header nav a {
  padding: 1.2rem;
  font-size: 1.7rem;
}
@media (max-width: 500px) {
  header nav a {
    font-size: 1.5rem;
  }
}
.intro {
  width: 80%;
  padding: 1rem;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .intro {
    flex-direction: column;
  }
}
.intro div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .intro div {
    flex-direction: column;
  }
}
.intro p {
  width: 45%;
}
@media (max-width: 500px) {
  .intro p {
    width: 80%;
    margin: 20px 0;
    text-align: center;
  }
}
.intro img {
  max-width: 150px;
  border-radius: 50%;
  border: 2px solid black;
}
.skills {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.skills div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .skills div {
    flex-wrap: wrap;
  }
}
.skills p {
  padding: 0.5rem;
  font-weight: 600;
  text-align: center;
}
.work {
  width: 80%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.work .job {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .work .job {
    flex-direction: column;
    margin: 20px 0;
  }
}
.work p {
  width: 30%;
  padding: 1rem;
}
@media (max-width: 500px) {
  .work p {
    width: 100%;
  }
}
.work ul {
  width: 60%;
}
@media (max-width: 500px) {
  .work ul {
    width: 100%;
  }
}
.work li {
  padding-top: 1rem;
}
.work .job-title {
  font-weight: 600;
}
.work .job-location {
  font-style: italic;
}
.work .job-duration {
  font-size: 1.2rem;
}
.education {
  width: 80%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.education .school {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .education .school {
    flex-direction: column;
    margin: 20px 0;
  }
}
.education .ed-study {
  font-weight: 600;
  padding-right: 1rem;
}
.education .ed-location {
  font-style: italic;
  padding-right: 1rem;
}
.education .ed-time {
  font-weight: 600;
}
.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-methods {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.contact img {
  width: 35px;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #666666;
}
footer nav a {
  padding: 1.2rem;
  font-size: 1.7rem;
}
@media (max-width: 500px) {
  footer nav a {
    font-size: 1.5rem;
  }
}
